h1 {
    font-size: 40px;
    font-family: "Segoe UI";
}

h3 {
    font-family: "Segoe UI";
}

p {
    font-family: "Segoe UI";
}

body {
    background-color: #fdfae7;
}

.button {
    background-color: #f7d794;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Segoe UI";
}

.content {
    flex: 1;
    padding: 20px;
}

.info-container {
    display: flex;
    align-items: flex-start;
}

.personal-info {
    flex: 1;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
} 

footer {
    background-color: #f7d794;
    padding: 10px;
    text-align: center;
}